body {
  background-color: rgb(5, 7, 46); 
  background-image: linear-gradient(to bottom, rgb(0, 1, 14), rgb(30, 30, 32));
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-left: 150px;
  padding-bottom: 500px;
}

html {
  scroll-behavior: smooth;
}